aiofiles
aiogram
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
attrs
beautifulsoup4
blis
Brotli
cachetools
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
decorator
distro
EbookLib
ffprobe
filelock
fonttools
frozenlist
fsspec
gdown
git-filter-repo
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
googleapis-common-protos
googletrans
grpcio
grpcio-status
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
iniconfig
Jinja2
joblib
langcodes
language_data
lxml
magic-filter
marisa-trie
markdown-it-py
markdown-strings
markdownify
MarkupSafe
mdurl
moviepy
mpmath
multidict
murmurhash
mutagen
networkx
nltk
numpy
oauth2client
openai
packaging
pillow
pluggy
preshed
proglog
proto-plus
protobuf
pyasn1
pyasn1-modules
pycryptodomex
pydantic
pydantic_core
PyDrive
pydub
Pygments
pyparsing
PyPDF2
PySocks
pysrt
pysubs2
pytest
python-docx
pytube
PyYAML
regex
requests
rfc3986
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
srt
sympy
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
unicodeit
uritemplate
urllib3
wasabi
weasel
websockets
wrapt
yarl
yt-dlp